# Build outputs
[Bb]in/
[Oo]bj/
publish/
release/

# VS/IDE
.vs/
*.user
*.suo
*.rsuser
*.userprefs

# Caches / misc
*.opendb
*.VC.db
*.cache
*.log

# Packages
*.nupkg
packages/

# Release artifacts
*.zip

# Sample/Test outputs
RevitAllElements.csv
RevitAllElements.json
RevitAllElements.xlsx
